<form method="post">
<label for="sentence">Add the sentence</label>
<input type="text" id="sentence" name="sentence" required>
<br />
<label for="email">Add your mail address</label>
<input type="text" id="email" name="email" required>
<br />
<input type="submit" value="Add">
</form>
