<pre>
<%= cow %>
</pre>

<% if(pic){ %>
    <img src=<%= pic %> />
  <% } else{ %>  
    <h1> No picture...</h1>
 <% } %>

<br />
<a href="/picture">Add a picture</a>
<br />
<a href="/add">Add a new sentence</a>

