<form method="post" action="/picture" enctype="multipart/form-data">
    Upload Picture: 
    <input type="file" name="avatar" id="avatar">
    <input type="submit" value="Upload Picture" name="submit">
</form>
